{% load static %}

<link rel="icon" href="static/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="manifest" href="{% static 'manifest.json' %}" />

<link rel="apple-touch-icon" href="{% static 'logo192.png' %}" />
<meta name="title" content="">
<meta name="description" content="">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">

